@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #0f2027;
  --bg-gradient: linear-gradient(90deg, rgba(28, 47, 48, 1) 0%, rgba(2, 8, 5, 1) 50%, rgba(28, 47, 48, 1) 100%);
  --text-color: #fff;
  --accent: #007BFF;
  --color-blur: #f8f8ff17;
}

/* ===== Header ===== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-gradient);
  padding: 15px 30px;
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  -webkit-animation: tracking-in-expand 0.20s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
 animation: tracking-in-expand 0.6s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* 
  * Tracking In Expand Animation
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.navbar a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--accent);
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* ===== Sections ===== */
.section {
  padding: 60px 20px;
  text-align: center;
  background: var(--bg-gradient);
  color: var(--text-color);
}

/* ===== Home ===== */
.wave-text span {
  display: inline-block;
  font-size: 4rem;
  animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) { animation-delay: 0s; }
.wave-text span:nth-child(2) { animation-delay: 0.2s; }
.wave-text span:nth-child(3) { animation-delay: 0.4s; }
.wave-text span:nth-child(4) { animation-delay: 0.6s; }

@keyframes wave {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

.profile img {
  width: 180px;
  height: 180px;
  border-radius: 30%;
 
  object-fit: cover;
  margin: 20px 0;
}
h1{
   font-size: 3rem; 
}

.gradient-text {
  background: linear-gradient(90deg, #ff8a00, #e52e71, #9b00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  background: var(--accent);
  border: none;
  padding: 12px 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #03376f;
  -webkit-animation: wobble-hor-bottom 0.8s both;
  animation: wobble-hor-bottom 0.8s both;
}

/* 
  *button animation
 */
@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
            transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
            transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
            transform: translateX(-6px) rotate(-1.2deg);
  }
}

.socials a {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.socials a:hover {
  color: var(--accent);
}

/* ===== About Section ===== */
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: left;
  background-color: var(--color-blur);
  padding: 20px 50px;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: #fff 1px solid;
  
}
.box2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px;
    color: var(--text-color);
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px;  
}
.box3 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    margin-top: 50px;
    -webkit-animation: heartbeat 6.5s ease-in-out infinite alternate both;
	        animation: heartbeat 6.5s ease-in-out infinite alternate both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.box3 p span{
    font-size: 24px;
}

.icons{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.icon2{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* ===== Projects ===== */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding-bottom: 20px;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.card h4 {
  margin: 15px 0 10px 0;
}
.card p {
  padding: 0 15px;
  font-size: 0.9rem;
  color: #ccc;
}
.certification-card {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  padding-bottom: 20px;
  transition: 0.3s;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  margin-top: 30px;
}

/* ===== Go Up Button ===== */
#goUpBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: var(--accent);
  color: white;
  border: none;
  border-radius: 30%;
  padding: 10px 12px;
  cursor: pointer;
  font-size: 1.2rem;
}

#goUpBtn:hover {
  background: #002a57;
}

/* ===== Responsive ===== */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    background: var(--bg-gradient);
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 10px;
    display: none;
  }

  .navbar ul.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .about-content {
    flex-direction: column;
    text-align: center;
  }
}





